:root {
    --primary-color: #10ac84;
    --red-accent: #f44336;
}

.navbar {
    --bs-navbar-brand-font-size: 2rem !important;
}

body {
    font-family: "Markazi Text", serif;
}

.round-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.hero-text {
    font-size: 4rem !important;
}

.amatic-sc-regular {
    font-family: "Amatic SC", serif;
    font-weight: 400;
    font-style: normal;
}

.amatic-sc-bold {
    font-family: "Amatic SC", serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.markazi-text-400 {
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.accent-primary-color {
    color: var(--primary-color);
}

.accent-red {
    color: var(--red-accent);
}

.link-card {
    border: 0 !important;
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.link-card:hover {
    background-color: #f8f9fa; /* Light gray */
    transform: scale(1.01);
    color: inherit;
}

.link-card .card-body {
    display: flex;
    align-items: center;
}

.link-card .icon {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    font-size: 3rem;
}

.link-card .card-title {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.link-card.mini-link-card .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
}

.link-card.mini-link-card .card-title {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0;
}

.image-with-shadow {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
    height: 0;
    padding-top: 15%;
    background-color: rgba(255, 0, 0, 0.9);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.play-icon {
    width: 50%;
    height: auto;
    fill: white;
    margin-top: -100%;
}

.navbar-custom {
    background-color: #10ac84;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white !important; /* White text */
}

.navbar-custom .nav-link:hover {
    opacity: 0.8; /* Slight transparency on hover */
}

.navbar-custom .navbar-brand:hover {
    opacity: 0.8;
}

.navbar-custom .nav-link {
    font-size: 1rem !important;
}

footer {
    background-color: #e9ecef;
    color: #333;
}

.container-fluid.no-padding {
    padding: 0;
}
