:root {
    --primary-color: #10ac84;
    --red-accent: #f44336;
}

.container {
    max-width: 960px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hero-text {
    font-size: 4rem !important;
}

.amatic-sc-regular {
    font-family: "Amatic SC", serif;
    font-weight: 400;
    font-style: normal;
}

.amatic-sc-bold {
    font-family: "Amatic SC", serif;
    font-weight: 700;
    font-style: normal;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.markazi-text-400 {
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.accent-primary-color {
    color: var(--primary-color);
}

.accent-red {
    color: var(--red-accent);
}

.link-card {
    border: 0 !important;
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: filter 0.2s ease, transform 0.2s ease;
}

.link-card article p {
    margin-bottom: 0;
}

.link-card:hover {
    transform: scale(1.02);
    filter: brightness(120%);
    color: inherit;
}

.link-card .card-body {
    display: flex;
    align-items: center;
}

.link-card article .icon {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    font-size: 3rem;
}

.link-card.mini-link-card .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    line-height: 1.5rem;
    font-size: 1.5rem;
}

.link-card.mini-link-card .card-title {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15%;
    height: 0;
    padding-top: 15%;
    background-color: rgba(255, 0, 0, 0.9);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
}

.play-icon {
    width: 50%;
    height: auto;
    fill: white;
    margin-top: -100%;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.no-list-style {
    list-style: none !important;
    padding-left: 0;
    margin: 0;
}

.no-list-style li {
    list-style: none !important;
    padding-left: 0;
    margin: 0;
}
