<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alexandre Ribeiro</title>
    <link href="{{ ROOT_URL }}/assets/css/styles.css" rel="stylesheet">
    <link href="{{ ROOT_URL }}/assets/css/pico.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Markazi+Text:wght@400..700&display=swap"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
    {% block extra_headers %}
    {% endblock %}
</head>
<body class="container">
<header>
    {% include 'navbar.html' %}
</header>
<main>
    {% block content %}
    {% endblock %}
</main>
<footer>
    {% include 'footer.html' %}
</footer>
{% block extra_javascript %}
{% endblock %}
</body>
</html>