<section>
    <div class="grid">
        <div>
            <h3>Wanna get in touch?</h3>
            <p>I am always available for exciting discussions!</p>
        </div>
        <div></div>
    </div>
</section>

<section>
    <div class="grid outline">
        <div>
            <h5>Contact</h5>
            <ul class="no-list-style">
                <li><i class="fa-brands fa-youtube"></i>
                    <a class="contrast" href="https://www.youtube.com/@alexandreribeirotv">@alexandreribeirotv</a></li>
                <li><i class="fa-brands fa-github"></i>
                    <a class="contrast" href="https://github.com/alexandreribeiro">/alexandreribeiro</a></li>
                <li><i class="fa-brands fa-linkedin"></i>
                    <a class="contrast" href="https://www.linkedin.com/in/alexandre-de-oliveira-ribeiro/">LinkedIn</a>
                </li>
            </ul>
        </div>
        <div>
            <h5>Projects</h5>
            <ul class="no-list-style">
                <li><i class="fa-brands fa-github"></i>
                    <a class="contrast" href="https://github.com/alexandreribeiro/astronomy-js">astronomy-js</a></li>
                <li><i class="fa-brands fa-github"></i>
                    <a class="contrast" href="https://github.com/alexandreribeiro/astronomy-svg">astronomy-svg</a></li>
            </ul>
        </div>
        <div>
            <h5>Personal</h5>
            <ul class="no-list-style">
                <li><a class="contrast" href="{{ ROOT_URL }}/world-map/">World Map</a></li>
                <li><a class="contrast" href="{{ ROOT_URL }}/dashboard/">Weather Dashboard</a></li>
                <li><a class="contrast" href="{{ ROOT_URL }}/about/">About me</a></li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="text-center">
        Alexandre Ribeiro
    </div>
</section>